{
  "plugins": ["import"],
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "airbnb-base"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "jquery": true
  },
  "rules": {
    "import/newline-after-import": "off",
    "max-len": "off",
    "import/extensions": "off"
  }
}
