<%- include('templates/header-view') -%>
<div class="container">
  <div class="row d-flex justify-content-center">
    <div
      class="col col-sm-8 col-md-8 col-lg-7 col-xl-7 col-xxl-7 p-3 text-center"
    >
      <h1>Chat room</h1>
    </div>
  </div>
  <div class="row d-flex justify-content-center">
    <div
      id="messages-wrapper"
      class="col col-sm-8 col-md-8 col-lg-7 col-xl-7 col-xxl-7 p-3"
    ></div>
  </div>
  <div class="row d-flex justify-content-center">
    <div
      class="col col-sm-8 col-md-8 col-lg-7 col-xl-7 col-xxl-7 p-3 text-center"
    >
      <div class="row">
        <div class="col p-3">
          <form action="">
            <div class="input-group">
              <span class="input-group-text" id="basic-addon1">></span>
              <input
                type="text"
                class="form-control"
                placeholder="Username"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
            </div>
            <!-- <input type="text" /> -->
            <button>Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/socket-io-client.js"></script>
<%- include('templates/footer-view') -%>
