textarea {
  border: none;
}

.footer {
  justify-content: center;
}

.footer--hide {
  display: none;
}

.footer-content {
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.footer-content-form {
  margin: 0;
  padding: 0;
}

.footer-content-form-content-text {
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  font-size: 1.3rem;
  resize: none;
  background-color: rgb(247, 247, 247);
}

.footer-content-form-content-text:focus {
  box-shadow: none;
  border: none;
  background-color: rgb(247, 247, 247);
}

.footer-content-form-content-text::placeholder {
  color: rgb(206, 206, 206);
}

.footer-content-form-content-button {
  margin: 0 0 0 1rem;
  padding: 0 2rem;
  background-color: rgb(78, 56, 166);
  border-radius: 0 1rem 0 0;
  border: none;
}

.footer-content-form-content-button:disabled {
  background-color: rgb(78, 56, 166);
  border-radius: 0 1rem 0 0;
  color: rgb(255, 255, 255);
  border: none;
  opacity: 0.65;
}

.footer-content-form-content-button:hover,
.footer-content-form-content-button:focus {
  background-color: rgb(78, 56, 166);
  border-radius: 0 1rem 0 0;
  border: none;
}

.footer-content-form-content-button-icon {
  font-size: 2.4rem;
  color: rgb(255, 255, 255);
  opacity: 1;
}
