.header {
  justify-content: center;
}

.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
  background-color: rgb(78, 56, 166);
}

.header-content-before-title {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  color: rgb(255, 255, 255);
}
.header-content-title {
  margin: 0;
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: rgb(255, 255, 255);
}
