@media (max-width: 576px) {
  .header-content {
    padding: 1.7rem 0;
  }

  .menu-content {
    padding: 0 0 1.7rem 0;
  }
}

@media (min-width: 576px) {
  .settings-content-data {
    flex-direction: row;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  html {
    font-size: 12px;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 13px;
  }
}
