.messages {
  justify-content: center;
  flex-grow: 1;
  overflow: scroll;
}

.messages--hide {
  display: none;
}

.messages-content {
  display: flex;
  flex-direction: column;
  padding: 3rem 2rem;
  font-family: 'Open Sans', sans-serif;
}

.messages-content-single {
  margin: 0.5rem 0;
  padding: 1rem 1rem;
  border-radius: 0.8rem;
}

.messages-content-single--server {
  background-color: rgb(247, 247, 247);
}

.messages-content-single-from-when-wrapper {
  display: flex;
  justify-content: space-between;
}

.messages-content-single-from {
  margin: 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: rgb(78, 56, 166);
}

.messages-content-single-when {
  color: rgb(206, 206, 206);
}

.messages-content-single-text {
  margin: 0;
  font-size: 1.4rem;
  padding: 1rem 0 0 2rem;
  color: rgb(0, 0, 0);
}
