.settings {
  flex-grow: 1;
  overflow: scroll;
}

.settings--hide {
  display: none;
}

.settings-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
}

.settings-content-data {
  display: flex;
  flex-direction: column;
  flex-grow: 4;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.settings-content-name,
.settings-content-room {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

#settings-content-name,
#settings-content-room,
.settings-content-actions-title {
  color: rgb(78, 56, 166);
}

.settings-content-name--description,
.settings-content-room--description {
  font-size: 1.4rem;
  font-weight: 400;
}

.settings-content-name--small {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(206, 206, 206);
}

.settings-content-actions {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-evenly;
  align-items: center;
  padding: 2rem 0;
  border-top: 0.1rem solid rgb(206, 206, 206);
  border-bottom: 0.1rem solid rgb(206, 206, 206);
}

.settings-content-actions-title {
  margin: 0 0 1rem 0;
  font-size: 1.6rem;
  font-weight: 400;
  color: rgb(206, 206, 206);
}

.settings-content-actions-input-text {
  font-size: 1.3rem;
  border: 0.1rem solid rgb(206, 206, 206);
}

.settings-content-actions-input-text::placeholder {
  color: rgb(206, 206, 206);
}

.settings-content-actions-input-text:focus {
  box-shadow: none;
  border: 0.1rem solid rgb(206, 206, 206);
}

.settings-content-actions-input-button-join,
.settings-content-actions-input-button-leave,
.settings-content-actions-input-button-join:hover,
.settings-content-actions-input-button-leave:hover {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  background-color: rgb(78, 56, 166);
}

.settings-content-actions-input-descriptions {
  font-size: 1rem;
  font-weight: 400;
  color: rgb(206, 206, 206);
  text-align: center;
}

.settings-content-description {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  justify-content: center;
  align-items: center;
  color: rgb(206, 206, 206);
  text-align: center;
}

.settings-content-description p {
  font-size: 1rem;
  margin: 0;
}

.footer-link {
  font-weight: 700;
  color: rgb(206, 206, 206);
  text-decoration: none;
}

.footer-link:hover {
  color: rgb(206, 206, 206);
}
