html {
  font-size: 10px;
}

body {
  font-family: 'Anonymous Pro', monospace;
  font-weight: 400;
  color: #149414;
  background-color: #000000;
}

p {
  margin: 0;
  padding: 0;
}

.container {
  max-height: 80vh;
}

#messages-wrapper {
  max-height: 80vh;
  overflow: auto;
}

.message {
  border-radius: 0.5rem;
  color: #149414;
  /* background-color: #4ad7d1; */
}

.from-server {
  /* background-color: aliceblue; */
}

.message-data {
  font-size: 1.4rem;
  font-weight: 700;
}

.author {
  font-size: 1.6rem;
  font-weight: 700;
}

.date,
.time {
  font-size: 1.2rem;
  font-weight: 400;
}

.message-content {
  font-size: 1.4rem;
}

input {
}
