.users-in-room {
  flex-direction: column;
  align-content: center;
  flex-grow: 1;
  overflow: scroll;
  text-align: center;
}

.users-in-room--hide {
  display: none;
}

.users-in-room-content {
  flex-direction: column;
  padding: 3rem 2rem;
  flex-grow: 10;
  font-size: 1.4rem;
}

.users-in-room-content--you {
  padding: 0;
  font-size: 1.6rem;
  font-weight: 700;
  color: rgb(0, 35, 131);
}

.users-in-room-content-update {
  flex-direction: column;
  padding: 3rem 2rem;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(189, 189, 189);
  border-top: 0.1rem solid rgb(221, 221, 221);
}

.users-in-room-content-button-update,
.users-in-room-content-button-update:hover {
  font-size: 1.3rem;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 35, 131);
}
